@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu !</h1>

    <h2>Verrier Paul-Alexis</h2>

    <a href="https://github.com/paverrier/VCubWatcher_Project">Source Code</a>

    <ul>
        <li> 1 : <input type="checkbox"></li>
        <li> 2 : <input type="checkbox"></li>
        <li> 3 : <input type="checkbox"></li>
        <li> 4 : <input type="checkbox"></li>
        <li> 5 : <input type="checkbox"></li>
        <li> 6 : <input type="checkbox"></li>
        <li> 7 : <input type="checkbox"></li>
        <li> 8 : <input type="checkbox"></li>
        <li> 9 : <input type="checkbox"></li>
        <li> 10 : <input type="checkbox"></li>
        <li> 11 : <input type="checkbox"></li>
        <li> 12 : <input type="checkbox"></li>
        <li> 13 : <input type="checkbox"></li>
        <li> 14 : <input type="checkbox"></li>
        <li> 15 : <input type="checkbox"></li>
        <li> 16 : <input type="checkbox"></li>
        <li> 17 : <input type="checkbox"></li>
        <li> 18 : <input type="checkbox"></li>
    </ul>
</div>
